html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    max-width: 650px;
    margin: 10px auto;
    margin-top: 50px;
    padding: 20px;
    background-image: url("https://i.postimg.cc/28gcb8mw/converter-Background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.form__fieldset {
    border: solid black;
    border-width: 2px 8px 2px 8px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.781);
    float: center;
}

.form__field {
    width: 100%;
}

.form__legend {
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}

.form__text {
    display: inline-block;
}

.button {
    width: 100%;
    border-width: 2px 8px 2px 8px;
    background-color: white;
    margin: 15px auto;
}

.button__reset {
    width: 100%;
    border-width: 2px 8px 2px 8px;
    background-color: white;
    margin: 15px auto;
}

.button:hover {
    background-color: hsl(206, 8%, 62%);
}